.vs/*
EchoServer/.vs/*
EchoServer/bin/*
EchoServer/obj/*
EchoServer/Properties/*
EchoClient/.vs/*
EchoClient/bin/*
EchoClient/obj/*
EchoServer/EchoServer.csproj.user
DignusEchoServer/.vs/
DignusEchoServer/bin/
DignusEchoServer/obj/
DignusEchoServer/Properties/
